<div class="content align-content-center">
  <div style="padding:1em;">
    <center>
      <p class="title">欢迎来到股权问问，请<a href="<%= Rapidfire::Engine.routes.url_helpers.new_survey_attempt_path(Rapidfire::Survey.tagged_with("survey1").last) %>">答题</a>.</p>
    </center><br>

  </div>
</div>
