<header class="header">
  <div class="container">
    <nav class="level">
      <div class="level-left">
        <div class="level-item">
          <a href="/" class="title logo">股权问问</a>
        </div>
      </div>
      <div class="level-right">
        <p class="level-item">
          <% if user_signed_in? %>
            <%= link_to('Logout', '/users/sign_out', method: :delete, class:"button") %>
          <% else %>
            <%= link_to('Login', '/users/sign_in', class:"button") %>
          <% end %>
        </p>
      </div>
    </nav>
  </div>
</header>
